.favorite-btn {
  background-color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorite-btn:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: 300px; // ajusta según tu diseño
  object-fit: cover; // recorta sin deformar
  border-radius: 0.5rem;
}


