<div class="container mt-4">
  <div class="back-link-container mb-3">
    <a (click)="this.utilsService.goBack()"
      class="back-link d-inline-flex align-items-center fw-semibold px-3 py-2 rounded">
      <i class="bi bi-arrow-left me-2"></i>
      Volver a lista pedidos
    </a>
  </div>
  <div class="order-header">
    <div class="order-header-top">
      <div class="order-id-section">
        <h1>Pedido #ORD-{{ order?.pedido_id?.toString()?.padStart(4, '0') }}</h1>
        <div class="order-date">
          <i class="bi bi-calendar3"></i>
          Realizado el {{ order?.fecha_pedido| date:'dd MMMM yyyy':'':'es-CL'}} a las {{ order?.fecha_pedido |
          date:'HH:mm':'':'es-CL' }}
        </div>
      </div>
      <ng-container *ngTemplateOutlet="statusBadge"></ng-container>
    </div>
    <div class="order-stats">
      <div class="stat-item">
        <div class="stat-label">Total</div>
        <div class="stat-value">${{ order?.total | number:'1.0-0':'es-CL' }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Productos</div>
        <div class="stat-value">{{ getProductQuantity()}}</div>
      </div>
    </div>
  </div>

  <div class="content-grid">
    <!-- Productos -->
    <div>
      <div class="card mb-4">
        <div class="card-header-custom">
          <i class="bi bi-box-seam"></i>
          <h5>Productos del Pedido</h5>
        </div>
        <div class="card-body-custom">
          <button class="btn btn-primary" (click)="downloadFile()">
            <i class="bi bi-eye"></i> Ver comprobante pago
          </button>
          <table class="products-table">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of order?.detalles">
                <td>
                  <div class="product-info">
                    <img [src]="p.producto?.imagen || 'null.png'" alt="Producto" class="product-image" />
                    <div class="product-details">
                      <h6>{{ p.producto?.nombre }}</h6>
                      <span class="product-sku">Codigo: {{ p.producto?.producto_codigo }}</span>
                    </div>
                  </div>
                </td>
                <td>${{ p.producto?.precio | number:'1.0-0':'es-CL' }}</td>
                <td><span class="quantity-badge">x{{ p.cantidad }}</span></td>
                <td><strong>${{ (p.producto?.precio || 0) * (p.cantidad || 0) | number:'1.0-0':'es-CL' }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Cliente + resumen -->
    <div>
      <div class="card mb-4">
        <div class="card-header-custom">
          <i class="bi bi-person"></i>
          <h5>Información del Cliente</h5>
        </div>
        <div class="card-body-custom">
          <div class="customer-card">
            <div class="customer-avatar-large">{{ order?.usuario?.nombres?.charAt(0) }}{{
              order?.usuario?.apellidos?.charAt(0) }}</div>
            <div class="customer-details">
              <h4>{{ order?.usuario?.nombres }} {{ order?.usuario?.apellidos}}</h4>
              <div class="customer-contact">
                <span class="contact-item">
                  <i class="bi bi-envelope"></i> {{ order?.usuario?.email }}
                </span>
                <span class="contact-item">
                  <i class="bi bi-telephone"></i> {{ formatPhone(order?.usuario?.telefono!) }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header-custom">
          <i class="bi bi-receipt"></i>
          <h5>Resumen del Pedido</h5>
        </div>
        <div class="card-body-custom">
          <!-- <div class="summary-item">
            <span class="summary-label">Subtotal</span>
            <span class="summary-value">${{ order?.total| number:'1.0-0':'es-CL' }}</span>
          </div>
          <div class="summary-item">
            <span class="summary-label">Cargo Armado</span>
            <span class="summary-value">${{ setupFee | number:'1.0-0':'es-CL' }}</span>
          </div> -->
          <div class="summary-item summary-total">
            <span class="summary-label">Total</span>
            <span class="summary-value">{{ getTotal() | number:'1.0-0':'es-CL' }}</span>
          </div>
          <div class="mt-4">
            <label class="fw-bold mb-2 me-2">Estado actual:</label>
            <ng-container *ngTemplateOutlet="statusBadge"></ng-container>

            <div class="form-group mt-3">
              <label for="statusSelect">Cambiar estado:</label>
              <select id="statusSelect" class="form-select" [(ngModel)]="selectedStatus">
                <option value="Pendiente">Pendiente</option>
                <option value="EnPreparacion">Preparando</option>
                <option value="Listo">Listo para retiro</option>
                <option value="Entregado">Entregado</option>
                <option value="Cancelado">Cancelado</option>
              </select>
            </div>

            <div class="actions mt-3 d-flex justify-content-center gap-2">
              <button class="btn btn-primary" (click)="updateStatus()">
                <i class="bi bi-arrow-repeat"></i> Actualizar Estado
              </button>
              <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#notifyModal">
                <i class="bi bi-envelope"></i> Enviar correo
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Template -->
<ng-template #statusBadge>
  <span class="status-badge {{ statusConfig[order?.estado?.toLowerCase()!]?.class }}">
    <i class="bi {{ statusConfig[order?.estado?.toLowerCase()!]?.icon }}"></i>
    {{ statusConfig[order?.estado?.toLowerCase()!]?.label }}
  </span>
</ng-template>

<!-- Modal -->
<div class="modal fade" id="notifyModal" tabindex="-1" aria-labelledby="notifyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="notifyModalLabel">Confirmar envío de correo</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p>
          Vas a enviar un correo al usuario informando que el estado del pedido cambió
          de <strong>{{ previousState }}</strong> a <strong>{{ selectedStatus }}</strong>.
        </p>
        <p>¿Deseas continuar?</p>
        <!-- Input para adjuntar archivo -->
        <div class="input-group mb-3">
          <span class="input-group-text"> <i class="bi bi-paperclip"></i> </span>
          <input type="file" id="fileInput" accept=".pdf,.png,.jpg,.jpeg" (change)="onFileSelected($event)" hidden>
          <input type="text" class="form-control " placeholder="Adjuntar Boleta (Opcional)" [value]="fileName || ''"
            readonly aria-label="Selected file" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="triggerFileInput()">
            Examinar
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmNotify()" data-bs-dismiss="modal">
          <i class="bi bi-send"></i> Enviar correo
        </button>
      </div>
    </div>
  </div>
</div>
