<div class="container">
  <a (click)="this.utilsService.goToUrl()"
    class="back-link d-inline-flex align-items-center fw-semibold px-3 py-2 rounded">
    <i class="bi bi-arrow-left me-2"></i>
    Volver a Productos
  </a>
</div>
<div class="container mt-4">
  <div class="card shadow-sm bg-light p-4">
    <h5 class="mb-5">
        <i class="bi bi-box-seam-fill p-1"></i>
        Mis Pedidos
      </h5>
    <div class="col-12 col-md-6 col-lg-8 mb-4 mx-auto">
      <div class="input-group">
        <input type="text"
               class="form-control search-input border-start-0"
               placeholder="Buscar por producto o N° de pedido"
               (input)="onSearch($event)"
               [value]="searchTerm()" />
        <button type="button"
                class="input-group-text bg-white border-end-0"
                (click)="onResetSearch()">
           <i class="bi bi-arrow-clockwise"></i>
        </button>
      </div>
    </div>
    <div *ngFor="let order of filteredOrders" class="d-flex justify-content-center mb-4">
      <div class="card shadow-sm border-0 rounded-3 col-12 col-md-6 col-lg-8">
        <a [routerLink]="['/orderDetailUser', order.pedido_id]" class="card-header
          bg-white border-0
          pt-3 pb-2 mb-2
          text-decoration-none
          shadow-none
          clickable-header
          border-bottom-light
          d-flex flex-column">
          <div class="d-flex justify-content-center mb-1">
            <span class="status-badge {{ statusConfig[order.estado.toLowerCase()]?.class }}">
              <i class="bi {{ statusConfig[order.estado.toLowerCase()]?.icon }}"></i>
              {{ statusConfig[order.estado.toLowerCase()]?.label }}
            </span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="text-muted fw-normal mb-0" style="font-size: 0.9rem;">
              {{ order.fecha_pedido | date:"dd 'de' MMMM 'de' yyyy":"":"es-CL" }}
            </h6>
            <span class="text-muted d-flex align-items-center">
              #ORD-{{ order.pedido_id.toString().padStart(4, '0') }}
              <i class="bi bi-chevron-right text-muted opacity-50 ms-1"></i>
            </span>
          </div>
        </a>
        <div class="list-group list-group-flush p-2">
          <ng-container *ngIf="getProductosResumen(order) as resumen">
            <div *ngFor="let detalle of resumen.visibles; let last = last"
              class="list-group-item border-0 py-3 d-flex align-items-center justify-content-between border-bottom-light">

              <div class="d-flex align-items-center flex-grow-1">
                <div class="flex-shrink-0 border rounded p-1 bg-white" style="width: 70px; height: 70px;">
                  <img [src]="detalle?.producto?.imagen || 'null.png'" class="img-fluid object-fit-contain w-100 h-100"
                    alt="prod">
                </div>
                <div class="ms-3">
                  <div class="text-secondary small mb-0" style="font-size: 0.85rem;">
                    x{{ detalle.cantidad }}
                  </div>
                  <div class="text-dark fw-bold" style="font-size: 0.95rem;">
                    {{ detalle?.producto?.nombre }}
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="resumen.restantes.length > 0"
              class="list-group-item border-0 py-3 d-flex align-items-center justify-content-between border-bottom-light">

              <div class="d-flex align-items-center flex-grow-1">
                <div class="flex-shrink-0 border rounded p-1 bg-white d-flex align-items-center justify-content-center"
                  style="width: 70px; height: 70px; background-color:#f8f9fa;">
                  <img [src]="'openBox.png'" class="img-fluid object-fit-contain w-100 h-100" alt="prod">
                </div>
                <div class="ms-3">
                  <div class="text-secondary small mb-0" style="font-size: 0.85rem;">
                    x{{ getCantidadRestante(order) }}
                  </div>
                  <div class="text-dark fw-bold" style="font-size: 0.95rem;">
                    Otros productos
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>
