<div class="container mt-4">
  <!-- Back Link -->
  <div class="back-link-container mb-3">
    <a (click)="utilsService.goToUrl()"
      class="back-link d-inline-flex align-items-center fw-semibold px-3 py-2 rounded">
      <i class="bi bi-arrow-left me-2"></i>
      Volver a Productos
    </a>
  </div>

  <!-- Page Header -->
  <div class="page-header">
    <div class="page-title">
      <i class="bi bi-cloud-upload"></i>
      <h1>Carga Masiva</h1>
    </div>
  </div>

  <div class="card p-4 shadow-sm">
    <div class="mb-3">
      <label for="csvFile" class="form-label fw-bold">Archivo CSV</label>
      <input type="file" class="form-control" id="csvFile" (change)="onFileSelected($event)" accept=".csv" #fileInput />
      <div *ngIf="fileName" class="form-text mt-1">Archivo seleccionado: {{ fileName }}</div>
    </div>

    <div class="mt-3 p-3 border rounded bg-light text-dark small">
  <div class="d-flex align-items-center gap-2 justify-content-center">
    <i class="bi bi-info-circle text-primary fs-5"></i>
    <div>
      <strong>Importante:</strong> el formato del archivo CSV debe contener las columnas
      <span class="fw-semibold">BARRA, PRODUCTO y VENTA</span> para realizar la carga masiva por categoria.
      De manera opcional puede incluir la columna
      <span class="fw-semibold">CODCATEGORIA</span> para realizar una carga masiva con categoría automática
      <em>(seleccionar Auto (columna archivo))</em>.
    </div>
  </div>
</div>


    <div class="card p-4 shadow-sm mt-3">
      <div class="mb-3">
        <label for="csvFile" class="form-label fw-bold">Categoria</label>
        <select class="form-select" id="categorySelect" name="categorySelect" [(ngModel)]="selectedCategory" required>
          <option value="0">Auto (columna archivo)</option>
          <option *ngFor="let cat of categories" [value]="cat.categoria_id">
            {{ cat.nombre }}
          </option>
        </select>
      </div>

      <button class="btn btn-primary mt-3" [disabled]="!csvBlob || processingBulkUpload" (click)="cargarArchivo()">
        <i *ngIf="processingBulkUpload" class="bi bi-arrow-clockwise spin"></i>
        <i *ngIf="!processingBulkUpload" class="bi bi-cloud-upload"></i>
        Cargar Archivo
      </button>
    </div>
  </div>
