<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="resetPasswordModalLabel">Recuperar Contraseña</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <div class="reset-container">
          <div class="reset-card">

            <div class="reset-header text-center mb-3">
              <h2 class="reset-title">¿Olvidaste tu contraseña?</h2>
              <p class="reset-subtitle">Ingresa tu correo y te enviaremos un enlace de recuperación</p>
            </div>

            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

              <div class="mb-3 position-relative">
                <i class="bi bi-envelope position-absolute top-50 start-0 translate-middle-y ms-2"></i>
                <input type="email" class="form-control ps-5" placeholder="tu@correo.com" formControlName="email"
                  required>
              </div>

              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" [disabled]="forgotForm.invalid || isLoading">
                  <ng-container *ngIf="isLoading">
                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                    Enviando...
                  </ng-container>
                  <ng-container *ngIf="!isLoading">
                    Enviar Enlace
                  </ng-container>
                </button>
                <div class="text-center mt-3">
                  ¿Ya tienes una cuenta?
                  <a href="javascript:void(0)" class="text-decoration-none" (click)="onSignIn()">Iniciar sesión</a>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
