<div class="container mt-4">
  <div class="card shadow-sm p-4">
    <h5 class="mb-5">
      <i class="bi bi-person-fill-lock me-2"></i>
      Nueva Contraseña
    </h5>

    <form [formGroup]="resetForm" (ngSubmit)="onReset()">
      <div class="row g-3">
        <!-- Campo de nueva contraseña -->
        <div class="col-md-6">
          <label class="form-label">Nueva contraseña</label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              placeholder="Nueva contraseña"
              formControlName="password"
              required
              [attr.aria-invalid]="resetForm.get('password')?.invalid && resetForm.get('password')?.touched" />
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="togglePasswordVisibility()"
              tabindex="-1"
              aria-label="Mostrar/ocultar contraseña">
              <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>
        </div>

        <!-- Campo de confirmación de contraseña -->
        <div class="col-md-6">
          <label class="form-label">Confirmar contraseña</label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              placeholder="Confirmar contraseña"
              formControlName="confirmPassword"
              required
              [attr.aria-invalid]="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched" />
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="togglePasswordVisibility()"
              tabindex="-1"
              aria-label="Mostrar/ocultar confirmación de contraseña">
              <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="mt-4 text-end">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-check-circle me-2"></i>
          Actualizar Contraseña
        </button>
      </div>
    </form>
  </div>
</div>
