.back-link {
  color: #0d6efd; /* Azul Bootstrap */
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.back-link:hover {
  background-color: #0d6efd;
  color: #fff;
  text-decoration: none;
}

.back-link:hover i {
  color: #fff;
}
