.bi {
  cursor: pointer;
  color: #555;

  &:hover {
    color: #007bff;
  }
}

.list-group-item a {
  color: #333;

  &:hover {
    color: #007bff;
    text-decoration: underline;
  }
}

.navbar {
  background-color: #f6f6f9
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .offcanvas-body {
    padding: 1rem;
  }

  .offcanvas .list-group-item {
    padding: 0.75rem 1rem;
  }
}

.offcanvas-movil {
  @media (max-width: 576px) {
    width: 280px; // o el valor que prefieras
  }
}

.search-input {
  @media (min-width: 768px) and (max-width: 991px) {
  // estilos solo para tablets
    width: 80px;
  }
}




