<nav class="navbar navbar-expand-lg fixed-top shadow-sm px-4 py-2 ">
  <div class="container-fluid">
    <!-- Botón hamburguesa que activa el offcanvas -->
    <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
      <i class="bi bi-list fs-4"></i>
    </button>

    <!-- Logo -->
    <a class="navbar-brand fw-bold me-3" href="#">
      <span class="d-none d-sm-inline">Importadora</span>
      <span class="d-inline d-sm-none">Import.</span> Paola
    </a>


    <!-- Íconos para móviles -->
    <div class="d-flex flex-column gap-3 d-md-none">
      <div class="d-flex justify-content-around">
        <button class="btn position-relative p-0 me-3">
          <i class="bi bi-heart-fill fs-5"></i>
          <span *ngIf="favoritesCount > 0" class="position-absolute top-0 start-100 translate-middle badge bg-danger"
            style="font-size: 0.75rem; padding: 0.25em 0.4em;">
            {{ favoritesCount }}
          </span>
        </button>
        <button class="btn position-relative p-0">
        <i class="bi bi-cart-fill fs-5"></i>
        <span *ngIf="cartCount > 0" class="position-absolute top-0 start-100 translate-middle badge bg-danger"
          style="font-size: 0.75rem; padding: 0.25em 0.4em;">
          {{ cartCount }}
        </span>
      </button>
      </div>
    </div>


    <!-- Buscador -->
    <form class="d-none d-md-flex flex-grow-1 me-3">
      <div class="input-group">
        <input type="text" class="form-control search-input border-start-0" placeholder="Buscar productos..." />
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-search"></i>
        </span>
      </div>
    </form>

    <!-- Íconos y botones Escritorio-->
    <div class="d-none d-md-flex align-items-center gap-3">
      <button class="btn position-relative p-0">
        <i class="bi bi-heart-fill fs-5"></i>
        <span *ngIf="favoritesCount > 0" class="position-absolute top-0 start-100 translate-middle badge bg-danger"
          style="font-size: 0.75rem; padding: 0.25em 0.4em;">
          {{ favoritesCount }}
        </span>
      </button>
      <button class="btn position-relative p-0">
        <i class="bi bi-cart-fill fs-5"></i>
        <span *ngIf="cartCount > 0" class="position-absolute top-0 start-100 translate-middle badge bg-danger"
          style="font-size: 0.75rem; padding: 0.25em 0.4em;">
          {{ cartCount }}
        </span>
      </button>
      <a class="text-decoration-none" href="#">Acceder</a>
      <button class="btn btn-primary">Regístrate</button>
    </div>
  </div>
</nav>

<!-- Offcanvas Menu -->
<div class="offcanvas offcanvas-start offcanvas-movil" tabindex="-1" id="offcanvasMenu"
  aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel">Categorias</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#" class="text-decoration-none">Todo</a></li>
      <li class="list-group-item"><a href="#" class="text-decoration-none">Lapices</a></li>
      <li class="list-group-item"><a href="#" class="text-decoration-none">Marcadores</a></li>
      <li class="list-group-item"><a href="#" class="text-decoration-none">Block de Dibujo</a></li>
      <li class="list-group-item"><a href="#" class="text-decoration-none">Temperas</a></li>
    </ul>
    <div class="d-flex flex-column gap-3 d-md-none">
      <form class="mt-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar productos..." />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
      </form>
      <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-link">Acceder</button>
        <button class="btn btn-primary">Regístrate</button>
      </div>
    </div>
  </div>
</div>
